
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/StyleSheetScedule.css">
<div class="col-lg-2" style="margin:100px 50px">
    <img src="~/img/shedule.jpg" alt="">
</div>
<br />
<div class="col-lg-2" style="margin-left:100px">
    <a class="nav-link text-dark" asp-controller="Schedules" asp-action="Index">
        <input type="submit" value="Show Schudule" asp-controller="Schedules" asp-action="Index" class="btn btn-primary" />
    </a>
</div>



